<div ng-include="'partials/navbar/dashboard-nav.html'"></div>

    <div class="dashboard-div">

<!-- ////////////////////EDIT BELOW THIS LINE //////////////////////////////-->


      <div class="container">
        <h1 class="text-center">About Us</h1>
          <p class="text-center">Our team worked hard to build the CodingDojo On Tap app for CodingDojo alumni. Find out more about us below!</p>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="/static/images/about_us/mike_bogosian.jpg" alt="Mike Bogosian profile thumb" class="img-circle img-responsive center-block" style="max-width: 150px; padding-bottom: 1em">
            <div class="caption">
              <h3>Mollie Knute</h3>
              <h4>Github: <small><a href="http://github.com/mikebogosian">mikebogosian</a></small></h4>
              <h4>LinkedIn: <small>asdfadf</small></h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="/static/images/about_us/pete_kang.jpg" alt="Pete Kang profile thumb" class="img-circle img-responsive center-block" style="max-width: 150px; padding-bottom: 1em">
            <div class="caption">
              <h3>Pete Kang</h3>
              <h4>Github: <small><a href="http://github.com/kangpeter5">kangpeter5</a></small></h4>
              <h4>LinkedIn: <small><a href="https://www.linkedin.com/in/kangpeter">kangpeter</a></small></h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="/static/images/about_us/mollie_knute.jpg" alt="Mollie Knute profile thumb" class="img-circle img-responsive center-block" style="max-width: 150px; padding-bottom: 1em">
            <div class="caption">
              <h3>Mollie Knute</h3>
              <h4>Github: <small><a href="http://github.com/mcknute">mcknute</a></small></h4>
              <h4>LinkedIn: <small><a href="https://www.linkedin.com/in/mollieknute">mollieknute</a></small></h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="/static/images/about_us/rich_whybrew.jpg" alt="Rich Whybrew profile thumb" class="img-circle img-responsive center-block" style="max-width: 150px; padding-bottom: 1em">
            <div class="caption">
              <h3>Rich Whybrew</h3>
              <h4>Github: <small><a href="http://github.com/RichWhybrew">RichWhybrew</a></small></h4>
              <h4>LinkedIn: <small><a href="https://www.linkedin.com/in/richwhybrew">richwhybrew</a></small></h4>
            </div>
          </div>
        </div>
      </div>

<!-- ////////////////////EDIT ABOVE THIS LINE //////////////////////////////-->

      <hr />

      <footer>
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>
    </div>
</div>