<div ng-include="'partials/navbar/dashboard-nav.html'"></div>

    <div class="dashboard-div">

<!-- ////////////////////EDIT BELOW THIS LINE //////////////////////////////-->


      <div class="container">
        <h1 class="text-center">Alumni Detail</h1>
      <div class="row text-center">
    
          
          <a href="#/dashboard/my-profile/edit" class="btn btn-success btn-lg">+ Edit My Profile</a>

          <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">First Name</th>
          <td>{{ users.firstName }}</td>
        </tr>
        <tr>
          <th scope="row">Last Name</th>
          <td>{{ users.lastName }}</td>
        </tr>
        <tr>
          <th scope="row">Current Job</th>
          <td>{{users.currentJob }}</td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>{{ users.status }}</td>
        </tr>
        <tr>
          <th scope="row">Summary</th>
          <td>{{ users.description }}</td>
        </tr>
        <tr>
          <th scope="row"><a href="#/dashboard/my-profile/edit" class="btn btn-success">Message</a></th>
          <td>{{ users.description }}</td>
        </tr>
      </tbody>
    </table>

    

      </div>

<!-- ////////////////////EDIT ABOVE THIS LINE //////////////////////////////-->

      <hr />

      <footer>
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>
    </div>
</div>