<div ng-include="'partials/navbar/dashboard-nav.html'"></div>

    <div class="dashboard-div">

<!-- ////////////////////EDIT BELOW THIS LINE //////////////////////////////-->


      <div class="container">
        <h1 class="text-center">Alumni Connection</h1>
      <div class="row">
        <div class="col-md-12">
        <input type="text" ng-model='filter_name' placeholder="Filter by name, job, summary, and more" class="input-lg col-md-6 col-md-offset-3 col-xs-12">

        <table class="table table-hover" id="layout" >
        
          <thead>
            <tr>
              <th>Name</th>
              <th>Current Job</th>
              <th>Job Status</th>
              <th>Primary Stack</th>
              <th>Dojo Location</th>
              <th>Summary</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter: filter_name" data-link="row" class="rowlink">
              <td><a href="#/dashboard/alumni/detail/{{user._id}}">{{ user.firstName }} {{ user.lastName }}</a></td>
              <td>{{ user.currentJob }}</td>
              <td>{{ user.status }}</td>
              <td>{{user.primaryStack}}</td>
              <td>{{user.primaryLocation}}</td>
              <td>{{ user.summary }}</td>
              <td class="rowlink-skip"><a href="#/dashboard/alumni/detail/{{user._id}}" class="btn btn-default btn-block">&#128270; Learn More</a></td>

            </tr>
          </tbody>
       </table>
      </div>
      </div>

<!-- ////////////////////EDIT ABOVE THIS LINE //////////////////////////////-->

      <hr />

      <footer>
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>
    </div>
</div>