<div ng-include="'partials/navbar/dashboard-nav.html'"></div>

    <div class="dashboard-div">

<!-- ////////////////////EDIT BELOW THIS LINE //////////////////////////////-->


      <div class="jumbotron jumbotron-white">
	      <div class="container text-center">
	        <h1>CodingDojo onTap</h1>
	        <p>Tap into your most valuable resource with CD onTap</p>

	      </div>
	   </div>


      <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Alumni Connection</h2>
          <p>It's hard to stay in touch with your old cohort when life after Dojo begins. We've developed a place for you to collaborate, message, browse, and see what everyone in your cohort is up to.</p>
          <p><a class="btn btn-lg btn-block btn-primary" href="#/dashboard/alumni" role="button"><span class="glyphicon glyphicon-menu glyphicon-education" aria-hidden="true"></span> View Alumni Connection</a></p>
        </div>
        <div class="col-md-4">
          <h2>Job Hunter</h2>
          <p>No matter where you are in your job search, the best way to find and fill a job is through word of mouth. Use the Job Hunter center to post or respond to current job openings in your area.</p>
          <p><a class="btn btn-lg btn-block btn-primary" href="#/dashboard/jobs" role="button"><span class="glyphicon glyphicon-menu glyphicon-briefcase" aria-hidden="true"></span> View Job Hunter</a></p>
       </div>
        <div class="col-md-4">
          <h2>Event Center</h2>
          <p>It's important to take some time off after a hard day's work. The Event Center will make it easy for you to reach out to your old cohort mates. It's easy to invite, rsvp, and organize events.</p>
          <p><a class="btn btn-lg btn-block btn-primary" href="#/dashboard/events" role="button"><span class="glyphicon glyphicon-menu glyphicon-calendar" aria-hidden="true"></span> View Events Center</a></p>
        </div>
      </div>

<!-- ////////////////////EDIT ABOVE THIS LINE //////////////////////////////-->

      <hr />

      <footer>
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>
    </div>
</div>