<div ng-include="'partials/navbar/dashboard-nav.html'"></div>

    <div class="dashboard-div">

<!-- ////////////////////EDIT BELOW THIS LINE //////////////////////////////-->


      <div class="container">
        <h1 class="text-center">Job Hunter</h1>
         
        <div class="text-center form-group col-md-6 col-md-offset-3">

          <input type="text" ng-model='filter_name' placeholder="Filter by Company name, position, location, and more" class="input-lg form-controls btn-block" /><br />

          <a href="#/dashboard/jobs/new" class="btn btn-success btn-block">+ Add New Job Listing</a>
        </div>
      
        <table class="table table-hover" id="layout" >
        
        
          <thead>
            <tr>
              <th>Company</th>
              <th>Position Title</th>
              <th>Location</th>
              <th>Primary Stack</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="job in jobs | filter: filter_name" data-link="row" class="rowlink">
              <td class=""><a href="#/dashboard/jobs/detail/{{job._id}}"><strong>{{ job.company }}</strong></a></td>
              <td class="">{{ job.title }}</td>
              <td class="">{{ job.location }}</td>
              <td class="">{{ job.primaryStack }}</td>
              <td class="rowlink-skip"><a href="#/dashboard/jobs/detail/{{job._id}}" class="btn btn-default btn-block">&#128270; Learn More</a></td>

            </tr>
          </tbody>
       </table>
<!-- ////////////////////EDIT ABOVE THIS LINE //////////////////////////////-->

      <hr />

      <footer>
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>
    </div>
</div>