<div ng-include="'partials/navbar/landing-nav.html'"></div>

    <div class="jumbotron jumbotron-black">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
        <h1>CodingDojo onTap</h1>
        <p>Tap into your most valuable resource with CD onTap</p>
        <p>An app for CodingDojo Alumni, built to strengthen <strong>professional pursuits</strong>, facilitate <strong>networking opportunities</strong>, and enhance <strong>recruiting efforts</strong> among students, alumni and employers.</p>
        <p><a href='#/signup' class="btn btn-primary btn-lg btn-block" role="button">Access Now</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Alumni Connection</h2>
          <p>It's hard to stay in touch with your old cohort when life after Dojo begins. We've developed a place for you to collaborate, browse through your cohort mate's profiles, and see what everyone is up to. Click below to checkout the Alumni Connection </p>
        </div>
        <div class="col-md-4">
          <h2>Job Hunter</h2>
          <p>The best way to find a job is through word of mouth. If your employer is happy with your work, there's a good chance they'll appreciate a great referral. Use the Job Hunter center to post or respond to current job openings in your area. Click below to check out the Job Hunter center. </p>
       </div>
        <div class="col-md-4">
          <h2>Event Center</h2>
          <p>It's important to take some time off after a hard day's work. The Event Center will make it easy for you to reach out to your old cohort mates. It's easy to invite, rsvp, and organize events. Click below to checkout the Event Center.</p>
        </div>
      </div>

         <hr />

      <footer>
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>