    <div class="navmenu navbar-inverse navmenu-inverse navmenu-fixed-left offcanvas-sm">
      <a class="navmenu-brand visible-md visible-lg" href="#/dashboard">CodingDojo</a>
      <ul class="nav navmenu-nav">
        <li class="active"><a href="#/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Profile</a></li>
        <li><a href="#/dashboard/messages"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages</a></li>
        <li><a href="#/dashboard/alumni"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Search Alumni</a></li>
        <li><a href="#/dashboard/jobs"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Job Listings</a></li>
        <li><a href="#/dashboard/events"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Events</a></li>
        <li><a href="#/dashboard/about-us"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> About Us</a></li>
      </ul>
        </li>
      </ul>
    </div>

    <div class="navbar navbar-default navbar-inverse navbar-fixed-top hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CodingDojo 2</a>
    </div>

    <div class="dashboard-div">

<!-- ////////////////////EDIT BELOW THIS LINE //////////////////////////////-->


      <div class="container">
        <h1 class="text-center">Messages</h1>
          <p>View Messages Belwo</p>
      <div class="row">
    
      </div>

<!-- ////////////////////EDIT ABOVE THIS LINE //////////////////////////////-->

      <hr />

      <footer>
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>
    </div>
</div>