<div ng-include="'partials/navbar/dashboard-nav.html'"></div>

    <div class="dashboard-div">

<!-- ////////////////////EDIT BELOW THIS LINE //////////////////////////////-->


      <div class="container">
        <h1 class="text-center">My Profile</h1>
      <div class="row text-center">
    
          
          <a href="#/dashboard/my-profile/edit" class="btn btn-success btn-lg">+ Edit My Profile</a>

    

      </div>

<!-- ////////////////////EDIT ABOVE THIS LINE //////////////////////////////-->

      <hr />

      <footer>
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>
    </div>
</div>