<div ng-include="'partials/navbar/dashboard-nav.html'"></div>

    <div class="dashboard-div">

<!-- ////////////////////EDIT BELOW THIS LINE //////////////////////////////-->
<div class="container">
<div class="row text-center">
  <a href="#/dashboard/my-profile/edit" class="btn btn-success btn-lg">+ Edit My Profile</a> | <button class="btn btn-danger btn-lg" ng-click="logout()">Logout</button><hr>
</div>

  <h1 class="text-center">{{currentUser.firstName}} {{currentUser.lastName}}'s Profile</h1>
  <div class="row text-center">
    <p>Checkout my linkedIn and Github</p>
    <a href="https://www.linkedin.com/in/{{currentUser.linkedin}}" target="_blank"><img src="/static/images/linkedin-sociocon.png" height="30"></a>
    <a href="https://github.com/{{currentUser.github}}" target="_blank"><img src="/static/images/github.png" height="29"></a>
    <div>Username:  <span ng-bind="currentUser.email"></span></div>
    <div>Contact:  <span ng-bind="currentUser.contact"></span></div>
    <div>Current Job:  <span ng-bind="currentUser.currentJob"></span></div>
    <div>Summary:  <span ng-bind="currentUser.summary"></span></div>
  </div>

<!-- ////////////////////EDIT ABOVE THIS LINE //////////////////////////////-->
<hr />
      <footer>
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>
    </div>
</div>