<div ng-include="'partials/navbar/dashboard-nav.html'"></div>

    <div class="dashboard-div">

<!-- ////////////////////EDIT BELOW THIS LINE //////////////////////////////-->
<div class="container">
<div class="row">
  <h1 class="text-center">{{currentUser.firstName}} {{currentUser.lastName}}'s Profile</h1>


  <div class="col-md-6 col-md-offset-3 text-center">
    <a href="#/dashboard/my-profile/edit" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-menu glyphicon-pencil" aria-hidden="true"></span> Edit My Profile</a>

  </div>
</div>
</div>
<div class="container">
<div class="row">

  <div class="col-md-8 col-md-offset-2">
  <table class="table" style="margin-top: 2em">
    <tr>
      <td>LinkedIn:</td>
      <td>
        <a href="https://www.linkedin.com/in/{{currentUser.linkedin}}" target="_blank"><img src="/static/images/linkedin.png" height="30"> https://www.linkedin.com/in/{{currentUser.linkedin}}</a>
      </td>
    </tr>
    <tr>
      <td>Github:</td>
      <td>
      <a href="https://github.com/{{currentUser.github}}" target="_blank"><img src="/static/images/github-icon.png" height="29"> https://github.com/{{currentUser.github}}</a>
      </td>
    </tr>
    <tr>
      <td>Username:</td>
      <td><span ng-bind="currentUser.email"></span></td>
    </tr>
    <tr>
    <tr>
      <td>Current Job:</td>
      <td><span ng-bind="currentUser.currentJob"></span></td>
    </tr>
    <tr>
      <td>Primary Stack:</td>
      <td><span ng-bind="currentUser.primaryStack"></span></td>
    </tr>
    <tr>
      <td>Dojo Location:</td>
      <td><span ng-bind="currentUser.primaryLocation"></span></td>
    </tr>
    <tr>
      <td>Summary:</td>
      <td><span ng-bind="currentUser.summary"></span></td>
    </tr>
  </table>
</div>
</div>

<!-- ////////////////////EDIT ABOVE THIS LINE //////////////////////////////-->
<hr />
      <footer class="col-md-12">
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>
    </div>
</div>