<div ng-include="'partials/navbar/dashboard-nav.html'"></div>

    <div class="dashboard-div">

<!-- ////////////////////EDIT BELOW THIS LINE //////////////////////////////-->
      <div class="container">
        <h1 class="text-center">Update Profile</h1>
	<form class="form-horizontal" role="form" id="form" >
		<div class="form-group">
		    <label class="control-label col-sm-3" for="name">First Name: </label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control"  placeholder="{{currentUser.firstName}}" ng-model='changeUser.firstName' >
			</div>
		</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="name">Last Name: </label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control"  placeholder="{{currentUser.lastName}}" ng-model='changeUser.lastName' >
			</div>
		</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="name">Current Job: </label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control"  placeholder="{{currentUser.currentJob}}" ng-model='changeUser.currentJob' >
			</div>
		</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="name">LinkedIn page: </label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control"  placeholder="{{currentUser.linkedin}}" ng-model='changeUser.linkedin' >
			</div>
		</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="name">Github page: </label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control"  placeholder="{{currentUser.github}}" ng-model='changeUser.github' >
			</div>
		</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="name">Summary: </label>
		    <div class="col-sm-6">
		    	<textarea class="form-control" ng-model='changeUser.summary' placeholder="{{currentUser.summary}}"></textarea>
			</div>
		</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="name">Email: </label>
		    <div class="col-sm-6">

		      <input type="text" class="form-control"  placeholder="{{currentUser.email}}" ng-model='changeUser.email' >
			</div>
		</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="name">Primary Stack: </label>
		    <div class="col-sm-6">
		    	<select class="form-control" ng-model='changeUser.primaryStack'  ng-options='stack.name as stack.name for stack in stacks'></select>
			</div>
		</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="name">Dojo Location: </label>
		    <div class="col-sm-6">
		    	<select class="form-control" ng-model='changeUser.primaryLocation'  ng-options='location.name as location.name for location in locations'></select>
			</div>
		</div>

						
		<div class="form-group text-center"> 
		      <button type="submit" class="btn btn-success" ng-click="updateUser(changeUser)">Update Profile</button>
		</div>

	</form>

 <!-- ////////////////////EDIT ABOVE THIS LINE //////////////////////////////-->

 	 <hr />

      <footer>
        <p class="text-center">&copy; Mike Bogosian, Pete Kang, Mollie Knute, and Rich Whybrew</p>
      </footer>
    </div>
</div>
