/* Move down content because we have a fixed navbar that is 50px tall */
html {
  min-height: 100%;
}
body {
  padding-top: 50px;
  /*padding-bottom: 20px;*/
}
.bg-black {
  min-height: 100%;
  background-color: black;
}

.navbar-inverse-noborder {
	border-color: #222;
}

.jumbotron-black {
	background-color: #222;
	color: white;
  margin-bottom: 0;
}
.jumbotron-white {
	background-color: white;
	color: black;
}
.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}
.navmenu {
  padding-top: 50px;
}
.navmenu-brand {
  color: white;
}

.container {
  max-width: 100%;
}
.container-inverse {
  width: 100%;
  color: white;
  background-color: #222;
  margin: 0;
  padding: 2em 5em 1em;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .dashboard-div {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }

}
