/* Move down content because we have a fixed navbar that is 50px tall */
html {
  min-height: 100%;
}
body {
  padding-top: 50px;
  /*padding-bottom: 20px;*/
}
.bg-black {
  min-height: 100%;
  background-color: black;
}

.navbar-inverse-noborder {
	border-color: #222;
}

.jumbotron-black {
	background-color: #222;
	color: white;
  margin-bottom: 2em;
  background: url('/static/images/splash_photo_dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 5em;
}
.jumbotron-black h1 {
  font-size: 70px;
}
h1, h2 {
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.jumbotron-white {
	background-color: white;
	color: black;
}
.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}
.navmenu {
  padding-top: 50px;
}
.navmenu-brand {
  color: white;
}

.container {
  max-width: 100%;
}
.container-inverse {
  width: 100%;
  color: white;
  background-color: #222;
  margin: 0;
  padding: 2em 5em 1em;
}
.glyphicon-menu {
  padding-right: .5em;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .dashboard-div {
    padding: 0 0 0 300px;
  }
  .dashboard-div h1 {
    margin-top: -.25em;
    font-size: 70px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .navmenu {
    padding-top: 0;
  }

}
